
* {
    margin: 0 auto;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

/* 個人メモ：margin: auto;(中央寄せ)をするために横幅指定 */
.main {
    width: 400px;
}

.main-left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;

}
.main-right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}
.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}